@import './fonts/iconfont.css';
.borderred {
  border: 1px red solid;
}
.basecolor{
  color: blue;
}

.fontbasecolor{
  color: white;
}
.bgbasecolor{
  background-color: #1e1e1e;
}
.bgbasecolor2{ background-color: #121826;}

/*common source css*/

a{color: white;}
a{text-decoration: none;}